.rodape{
    background-color: #CFB181;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.rodape img{
    height: 90px;
}

ul{
    list-style-type: none;
    font-size: large;
    font-weight: 500;
    color: #800020;
}